/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4, a {
  color: #fff;
}

p {
  color:rgb(229, 229, 229);
  font-size: 14px;
}

h1, h2, h3, a {
  text-align: center;
  letter-spacing: 1px;
}

h3 {
  display: block;
  text-decoration: underline;
  font-size: 19px;
  padding: 15px 0;
  font-weight: 500;
}

h3, h4 {
  text-transform: capitalize;
}

h4 {
  font-size: 15px;
  font-weight: 500;
  color: #f98927e4;
}

a {
  text-decoration: unset;
  font-size: 20px;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  font: 300 16px/22px  "Lato", Helvetica, Arial, sans-serif;
  background-color: #000;
}

a {
  display: inline-block;
}

a:hover {
  color: rgb(182, 182, 182);
}


nav li {
  display: inline-block;
  margin: 0 20px;
}

.icon img{
  height: 20px;
  padding: 0 3px;
}
/*
==============================
Heading
==============================
*/

#heading {
  position: relative;
  height: 200px;
}


#heading nav{
  position: absolute;
  text-align: center;
  bottom: 0;
  border-bottom: 1px inset rgb(30, 30, 30);
  width: 100%;
  padding: 10px 10px 10px 0;
  background-image: linear-gradient(to bottom right, #f98927e4, #eecf7add);
}

#banner {
  background-image: url('./images/website-logo.png');
  background-repeat: repeat-x;
  height: 180px;
}


/*
==============================
Columns/grid
==============================
*/
.row,
.row-alt {
  min-width: 960px;
}
.row {
  color: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
  padding: 44px 0 22px 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 1000px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  /* border: 1px solid #fff; */
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  background-color: rgb(50, 50, 50)
}
.col-1-3 {
  width: 35%;
}
.col-2-3 {
  width: 60%;
}

.col-2-3 img {
  float: right;
  height: 150px;
}


/*
==============================
News
==============================
*/
.news p {
  text-align: justify;
}

.news img:nth-child(even) {
  float: right;
  padding-left: 10px;
}

.news img:nth-child(odd){
  float: left;
  padding-right: 10px;
}

/* .news .article:last-child {
  border-bottom: unset;
  margin-bottom: 5px;
} */

.news a {
  display: inline;
  text-align: justify;
}

.news #author {
  font-size: 10px;
  letter-spacing: 0px;
  color:rgb(200, 200, 200);
}

.news .article{
  border-bottom: 1px solid rgb(100, 100, 100);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#news-searchbar {
  padding-bottom: 10px;
}

/*
==============================
Weather/tables
==============================
*/
.weather {
  text-align: center;
}

.weather .separator {
  height:20px;
}
table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

td {
  margin: 10px;
  padding:10px;
  height: 69px;
  vertical-align: middle;
}

td img {
  position: relative;
  top: 4px;
}

tr:nth-child(1){
  background-color: rgb(70, 70, 70);
}

/*
==============================
Footer
==============================
*/

#footer-main nav {
  text-align: center;
  margin: 0 auto;
}